/* src/components/Layout.css */

.layout-container {
    display: flex; /* Utiliza flexbox para organizar el layout */
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
  }
  
  .main-content {
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio restante */
    padding: 20px;
    margin-left: 250px; /* Deja espacio para el sidebar fijo */
    transition: margin-left 0.3s ease-in-out; /* Transición para el shift */
    width: calc(100% - 250px); /* Ajusta el ancho para evitar desbordamiento */
  }
  
  /* Ajuste para el contenido principal cuando el sidebar está abierto en móvil */
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0; /* No hay margen izquierdo en móvil */
      width: 100%;
    }
  
    /* Si quieres empujar el contenido principal cuando el sidebar está abierto en móvil */
    /* .main-content.shifted {
      transform: translateX(200px); // Empuja el contenido para hacer espacio si no quieres un overlay
      transition: transform 0.3s ease-in-out;
    } */
  }