/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */
body{
  opacity: 1;
  background-color: rgba(248,249,250)!important;
}
.modulos-slider {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .progress-bar {
    height: 10px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .progress-fill {
    height: 100%;
    background: #4a90e2;
    transition: width 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .slider-controls {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .slider-btn {
      width: 100%;
      text-align: center;
      margin: 0.5rem 0;
    }
  }

  /* :root {
    --color1: #005b9b;
    --color2: #005b51;
    --color3: #01b3a4;
    --color4: #47386d;
} */
:root {
    --color1: #005a9ba8;
    --color2: #005b50bb;
    --color3: #01b3a4ab;
    --color4: #47386dab;
}

.btn{
    border-radius: 2rem;
}


.btn-color1{
    color: #fff;
    background-color: var(--color1);
    border-color: var(--color1);
}

.btn-color2{
    color: #fff;
    background-color: var(--color2);
    border-color: var(--color2);
}

.btn-color3{
    color: #fff;
    background-color: var(--color3);
    border-color: var(--color3);
}

.btn-color4{
    color: #fff;
    background-color: var(--color4);
    border-color: var(--color4);
}
